<footer class="footer">
    <div class="container">
        <nav class="float-left">
        <ul>
            <li>
            <a href="https://www.ctrefugees.tn/">
                CTR
            </a>
            </li>
            <li>
            <a href="https://www.ctrefugees.tn/presentation">
                About Us
            </a>
            </li>
            <li>
            <a href="https://www.ctrefugees.tn/blog">
                Blog
            </a>
            </li>
            <li>
            <a href="https://www.ctrefugees.tn/license">
                Licenses
            </a>
            </li>
        </ul>
        </nav>
        <div class="copyright float-right">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script>,Made by  <a href="https://www.ctrefugees.tn/" target="_blank">Tunisian Refugee Center</a>
        </div>
    </div>
</footer>